.event-form-input{
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.add-btn{
    border-radius: 5px;
    background-color: #4C3BCF;
    color: white;
}