.full-page{
  background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
  height: 100vh;
}






.main-container{
  max-width: 500px;
  background-color: #F1F1F1;
  margin: 0 auto;
  border-radius: 5px;
  color: black;
}

.form-container{
  max-width: 500px;
  background-color: #F1F1F1;
  margin: 0 auto;
  border-radius: 5px;
  color: black;
}

.table-container{
  max-width: 500px;
  background-color: #4C3BCF;
  margin: 0 auto;
  border-radius: 5px;
  color: black;
}